.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.menu__item {
  margin-right: $margin;
  @include navigation__link();
  color: rgba(255, 255, 255, 0.75);
  @include hover-active-transition();
  &:hover,
  &:active {
    color: $font-color--light;
  }
  &:focus-visible {
    @include outline();
  }
}