$font-family--semiBold: "Raleway SemiBold";
$font-family--regular: "Raleway Regular";
$font-family--bold: "Raleway Bold";
$font-family: "neucha", "ptsans", Helvetica, Arial, sans-serif;
$font-size--big: 3.3rem;
$font-size--middle: 1.5rem;
$font-size--small: 1.125rem;
$font-size--tiny: 0.75rem;
$font-size--info: 0.9rem;
$font-color--light: #fff;
$font-color--grey: #6c7279;
$font-color--grey-dark: #2d3033;
$font-color--red: #e84545;
$bc-light: #fff;
$bc-red: #e84545;
$bc-red--active: #e52e2e;
$bc-blue: #3a3e64;
$bc-blue--dark: #313454;
$bc--purple: #53354a;
$block-border-radius: 30px;
$margin--small: 10px;
$margin: 20px;
$padding--small: 10px;
$padding: 20px;
$mobile: 500px;
$tablet: 768px;
$desktop: 1200px;
