.btn {
  display: block;
  width: 200px;
  padding: 16px 0 16px 0;
  font-size: $font-size--tiny;
  font-family: $font-family--semiBold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $bc-light;
  background-color: $bc-red;
  border: none;
  border-radius: $block-border-radius;
  transition: background-color ease-in-out 0.5s;

  // если добавляем анимацию:
  animation-name: btn;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;

  //при реализации активных состояний
  &:hover,
  &:focus {
    background-color: $bc-red--active;
  }
  &:focus-visible {
    @include outline();
  }
  @media screen and (min-width: $tablet) {
    width: 250px;
  }
  @media screen and (min-width: $desktop) {
    width: 300px;
  }
}

// при реализации анимации кнопки
@keyframes btn {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  20% {
    transform: rotate(0deg) scale(0.8);
  }
  40% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(8deg) scale(1);
  }
  60% {
    transform: rotate(-8deg) scale(1.2);
  }
  75%,
  90% {
    transform: rotate(8deg) scale(1);
  }
  80%,
  95% {
    transform: rotate(-8deg) scale(1);
  }
  70%,
  85%,
  100% {
    transform: rotate(0deg) scale(1);
  }
}
