.aut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aut__message {
  margin-bottom: $margin;
  @include text();
  color: $font-color--red;
}

.aut__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  background-image: url('../../assets/images/header-block.png');
  background-size: cover; 
  border: 4px solid $bc--grey;
  border-radius: $block-border-radius;
}