.card {
  position: relative;
  z-index: 0;
  display: block;
  width: 99%;
  min-height: 350px;
  border: 4px solid $bc-blue;
  // border-right: 1px solid $bc-light;
  // border-top: 1px solid $bc-light;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 49%;
  }
  @media screen and (min-width: 1800px) {
    width: 24%;
  }
}

.card__img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .3;
  & img {
    max-width: none;
    height: 100%;
    width: 100%;
  }
  z-index: -1;
}

.card__thumb:hover,
.card__thumb:focus {
  transform: scale(1.1, 1.1);
}

.card__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding: 30px;
  transition: transform ease-in-out 0.5s;
}

.card__thumb-caption,
.card__thumb-info {
  font-size: $font-size--middle;
  line-height: 150%;
  font-family: $font-family--bold;
  font-weight: normal;
  text-transform: uppercase;
  color: $font-color--blue-dark;
}

.card__thumb-info {
  margin-top: 10px;
  font-size: $font-size--small;
  text-transform: none;
  text-align: justify;
}
