.header {
  width: 100%;
  height: 100px;
  background-color: $bc-blue;
  border-bottom: 2px solid $bc--grey;
}

.header__fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
}

.header__logo {
  @include main-caption();
  margin-right: $margin;
  font-size: 2.3rem;
  white-space: nowrap;
}

.header__menu {

}
