.masthead {
  min-height: 750px;
  padding: 245px 0 140px 0;
  background: url(../../../assets/images/header-block.png); background-repeat: no-repeat;
  background-size: cover;
  background-color: $bc-blue--dark;
}

.masthead__wrapper {
  max-width: 90%;
}

.masthead__info {
  margin: 25px 0 0 0;
  font-size: $font-size--middle;
  line-height: 150%;
  font-family: "Raleway Regular";
  text-align: center;
  color: $font-color--light;
}

.masthead__caption {
  @include main-caption();
}

.masthead__btn {
  margin: 40px auto 0;
}