*, 
*::before, 
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: $mobile;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Open Sans", "Myriad pro", Helvetica, Arial, sans-serif;
  background-color: $bc-light;
}

html {
  font-size: 16px;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}



